.about-me{
    padding: 1.5rem;
    width: 100%;
    height: auto;
    background-color: black;
    color: #ffff;
    align-items: center;
    display: flex;
    justify-content: center;
}
.about-wrapper{
    width: auto;
    height: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 5rem;
}
.img-content{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.img-content .img{
    height: auto;
    padding: 1rem;
    background-image: url(/images/11\ kopyası.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 380px;
    height: 380px;
    border-radius: 20px;    
}
.img-text{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0 2.5rem;
    column-gap: 5rem;
}
.img-text-left p{
    margin-top: 1rem;
    text-align: left;
}
.img-text-right p{
    margin-top: 1rem;
    text-align: right;
}
.download-btn{
    margin-top: 1rem;
}
.download-btn a{
    color: black;
    background-color: beige;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    border-radius: 12px;
}
.download-btn a:hover{
    color: #ffff;
    background-color: red;
    transition: 0.5s ease all;
}

.about-content{
    max-width: 60%;
    height: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}
.about-tittle h1{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
}
.about-text p{
    padding-bottom: 1rem;
    font-size: 22px;
    text-align: left;
    line-height: 3rem;
    border-bottom: 1px solid #ffff;
}




.skill-container{
    text-align: left;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ffff;
    padding: 10px 20px;
    border-radius: 7px;
}
.skill-container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .tittle{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: black;
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background: #884A39;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 90%;
    animation-delay: 0.4s;
}
.skill-per.javascript{
    width: 30%;
    animation-delay: 0.5s;
}
.skill-per.react{
    width: 10%;
    animation-delay: 0.6s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}