.portfolio{
    align-items: center;
    padding: 4rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.portfolio .heading{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: #ffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.portfolio h4{
    margin-bottom: 0.5rem;
    font-size: .5rem;
}
.portfolio-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.portfolio-box img{
    background-position: center;
    background-size: contain;
    width: 100%;
    transition: 1s ease;
    opacity: 1;
}
.portfolio-box img:hover{
    border-radius: 24px;
}
.portfolio-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 4rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
    display: flex;
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--secondry-bg-color));
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);
    transition: 1s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
    color: beige;
    align-items: center;
}

.portfolio-layer h4{
    font-size: 1.3rem;
    margin-top: 3rem;
}
.portfolio-layer p{
    font-size: 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: #1A120B;
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 1rem;
    color: #ffff;
}
.more-info-btn{
    margin-top: 2rem;
}
.more-info-btn a{
    background-color: beige;
    font-size: 20px;
    color: black;
    border-radius: 12px;
    padding: 0.3rem 1.5rem;
}
.more-info-btn a:hover{
    background-color: red;
    color: #ffff;
    transition: 1s ease all;
}